* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-home .titulo-vid, .main-home .pie-del-video {
  text-align: center;
  color: black; }

header {
  background-color: #dcc2f7; }
  header .logo {
    display: none; }
  header .menus {
    display: none; }
  header .menu-hamburguesa .desplegable-header {
    background-color: #b990ef; }
  header .menu-hamburguesa .desplegable-body {
    background-color: #dcc2f7; }

.logo {
  color: black; }

.main-home {
  background-color: #dcc2f7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 0.30fr 0.30fr;
  grid-template-areas: "titulo-vid" "video" "pie-del-video";
  justify-content: center;
  justify-items: center; }
  .main-home .titulo-vid {
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    grid-area: titulo-vid; }
  .main-home .video {
    margin: 0.5rem;
    padding: 1rem;
    grid-area: video; }
  .main-home .pie-del-video {
    margin: 0.5rem;
    padding: 1rem;
    grid-area: pie-del-video; }

footer {
  background-color: #dcc2f7; }
  footer span {
    display: none; }
  footer div {
    display: none; }

@media screen and (min-width: 768px) {
  .header {
    background-color: #dcc2f7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header nav {
      margin: 1rem;
      padding: 1rem; }
      .header nav ul {
        list-style: none;
        display: flex;
        gap: 1rem; }
        .header nav ul li:hover {
          font-weight: bold;
          transform: scale(0.9);
          box-shadow: 1px 1px 2px black;
          color: black;
          background-color: #b990ef; }
        .header nav ul li a {
          color: black; }
    .header .menus {
      display: block; }
    .header .logo {
      display: block; }
  .menu-hamburguesa {
    display: none; }
  .main-home {
    background-color: #dcc2f7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.20fr 0.30fr;
    grid-template-areas: "titulo-vid titulo-vid" "video pie-del-video"; }
  .video {
    padding: 1rem;
    grid-area: video; }
  .pie-del-video {
    text-align: center;
    color: black;
    padding: 1rem;
    justify-items: center;
    align-content: center;
    grid-area: pie-del-video; }
  footer .derechos-reservados {
    display: inline;
    display: flex;
    justify-content: center;
    padding-bottom: 75px; } }

@media screen and (min-width: 900px) {
  .main-home {
    background-color: #dcc2f7;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.30fr 0.10fr;
    grid-template-areas: "titulo-vid titulo-vid" "video pie-del-video"; }
    .main-home .pie-del-video {
      width: 65%; }
  footer .boton-wp {
    display: block;
    background-color: #dcc2f7;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20%;
    width: 10%; } }

.main-about-us {
  background-color: #dcc2f7;
  height: 530px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 1fr;
  grid-template-areas: "titulo" "parrafo"; }
  .main-about-us .tit-about-us {
    background-color: #b990ef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    grid-area: titulo; }
  .main-about-us .parrafo {
    display: flex;
    justify-items: center;
    color: black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    grid-area: parrafo;
    font-weight: bold;
    font-size: 1.5rem; }

footer .derechos-reservados {
  display: none; }

@media screen and (min-width: 768px) {
  .main-about-us {
    height: 515px; }
  footer .derechos-reservados {
    display: inline;
    display: flex;
    justify-content: center; } }

.grid-syp {
  background-color: #dcc2f7;
  display: grid;
  height: 950px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 0.30fr 0.30fr 0.30fr .030;
  grid-template-areas: "titulo-syp" "servicios" "servicios-dos" "promociones" "promociones-dos";
  justify-content: center;
  justify-items: center; }
  .grid-syp .titulo-syp {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    grid-area: titulo-syp; }
  .grid-syp .servicio {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 75%;
    grid-area: servicios; }
  .grid-syp .servicio-dos {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 75%;
    grid-area: servicios-dos; }
  .grid-syp .promociones {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 75%;
    grid-area: promociones; }
  .grid-syp .promociones-dos {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 75%;
    grid-area: promociones-dos; }

@media screen and (min-width: 992px) {
  .grid-syp {
    display: grid;
    height: 525px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.20 0.30 0.30;
    grid-template-areas: "titulo-syp titulo-syp" "servicios servicios-dos" "promociones promociones-dos";
    justify-content: flex-start;
    justify-items: center; }
  .derechos-reservados {
    display: inline;
    display: flex;
    justify-content: center; } }

.main-contacto {
  background-color: #dcc2f7;
  padding: 1rem;
  height: 530px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 0.30fr;
  grid-template-areas: "titulo-formulario" "formulario"; }
  .main-contacto .titulo-formulario {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: titulo-formulario; }
  .main-contacto .formulario {
    margin: 1rem;
    padding: 1rem;
    grid-area: formulario;
    text-align: center; }

@media screen and (min-width: 768px) {
  .derechos-reservados {
    display: inline;
    display: flex;
    justify-content: center; } }

.main-cat {
  background-color: #dcc2f7;
  height: 530px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 0.30fr;
  grid-template-areas: "titulo-cat" "carrusel"; }
  .main-cat .titulo-cat {
    margin: 1rem;
    padding: 1rem;
    background-color: #b990ef;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: titulo-cat; }
  .main-cat .carrusel {
    margin: 1rem;
    padding: 1rem;
    width: 75%;
    grid-area: carrusel; }
