*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dcc2f7;
    
}

.logo{
    color: black;
}

.header{
    background-color: #dcc2f7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    

}

header nav ul li:hover{
    font-weight: bold;
    transform: scale(0.9);
    box-shadow: 1px 1px 2px black;
    color: black;
    background-color: whitesmoke;
}

.menu{
    padding: 10px;
    margin: 10px;
}

.l-menu{
    color: black;
}

.main-home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "titulo-vid"
        "video"
        "pie-del-video";
    justify-content: center;
    justify-items: center;
}

.grid-syp{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.20fr 0.30fr 0.30fr 0.30fr .030;
    grid-template-areas: 
        "titulo-syp"
        "servicios"
        "servicios-dos"
        "promociones"
        "promociones-dos";
    justify-content: center;
    justify-items: center;    


}




.main{
    background-color: #dcc2f7;
    height: 500px;
    
}

.carrusel{
    margin: 10px;
    width: 50%;
}


.derechos-reservados{
    display: none;
}


.footer{
    background-color: #dcc2f7;
}

.boton-wp{
    background-color: #dcc2f7;
    position: fixed;
    bottom: 0;
    right: 0;
}

.servicio{
    background-color: #b990ef;
    margin: 10px;
    padding: 10px;
    list-style: none;
    width: 75%;
    grid-area: servicios;
}

.servicio-dos{
    background-color: #b990ef;
    margin: 10px;
    padding: 10px;
    list-style: none;
    width: 75%;
    grid-area: servicios-dos;
}



.promociones{
    background-color: #b990ef;
    margin: 10px;
    padding: 10px;
    list-style: none;
    width: 75%;
    grid-area: promociones;
}

.promociones-dos{
    background-color: #b990ef;
    margin: 10px;
    padding: 10px;
    list-style: none;
    width: 75%;
    grid-area: promociones-dos;
}

.titulo-syp{
    background-color: #b990ef;
    padding: 10px;
    margin: 10px;
    grid-area: titulo-syp;
    
}

.pie-del-video{
    color: black;
    margin: 10px;
    padding: 10px;
    grid-area: pie-del-video;
}

.parrafo{
    color: deeppink;
}

.div-parrafo{
    margin: 10px;
    padding: 10px;
}

.formulario{
    margin: 10px;
    padding: 10px;
}

.titulo-vid{
    margin: 10px;
    padding: 10px;
    grid-area: titulo-vid;
}

.video{
    margin: 10px;
    padding: 10px;
    grid-area: video;
}

@media screen and (min-width:992px){

    .grid-syp{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 0.20 0.30 0.30;
        grid-template-areas: 
            "titulo-syp titulo-syp"
            "servicios servicios-dos"
            "promociones promociones-dos";
        justify-content: flex-start;
        justify-items: center;
        }
        
    .derechos-reservados{
        display: inline;
    }
}