* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-home .titulo-vid, .main-home .pie-del-video {
  text-align: center;
  color: black; }

/*estilos de header mobile*/
header {
  background-color: #dcc2f7; }
  header .logo {
    display: none; }
  header .menus {
    display: none; }
  header .menu-hamburguesa .desplegable-header {
    background-color: #b990ef; }
  header .menu-hamburguesa .desplegable-body {
    background-color: #dcc2f7; }

/*estilo del logo*/
.logo {
  color: black; }

/*estilos de main de index*/
.main-home {
  background-color: #dcc2f7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 0.30fr 0.30fr;
  grid-template-areas: "titulo-vid" "video" "pie-del-video";
  justify-content: center;
  justify-items: center;
  /*estilos de titulo del video index*/
  /*estilos de video index*/
  /*estilos del pie del video index*/ }
  .main-home .titulo-vid {
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    grid-area: titulo-vid; }
  .main-home .video {
    margin: 0.5rem;
    padding: 1rem;
    grid-area: video; }
  .main-home .pie-del-video {
    margin: 0.5rem;
    padding: 1rem;
    grid-area: pie-del-video; }

/*estilos de footer mobile*/
footer {
  background-color: #dcc2f7;
  /*estilo de derechos reservados mobile*/
  /*estilo de boton de wsp mobile*/ }
  footer span {
    display: none; }
  footer div {
    display: none; }

/*media query tablet de index*/
@media screen and (min-width: 768px) {
  /*estilos del header tablet index*/
  .header {
    background-color: #dcc2f7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*estilo del menu tablet*/
    /*estilo del logo tablet*/ }
    .header nav {
      margin: 1rem;
      padding: 1rem; }
      .header nav ul {
        list-style: none;
        display: flex;
        gap: 1rem; }
        .header nav ul li:hover {
          font-weight: bold;
          transform: scale(0.9);
          box-shadow: 1px 1px 2px black;
          color: black;
          background-color: #b990ef; }
        .header nav ul li a {
          color: black; }
    .header .menus {
      display: block; }
    .header .logo {
      display: block; }
  /*estilo del menu hamburguesa tablet*/
  .menu-hamburguesa {
    display: none; }
  /*estilos de main tablet index*/
  .main-home {
    background-color: #dcc2f7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.20fr 0.30fr;
    grid-template-areas: "titulo-vid titulo-vid" "video pie-del-video"; }
  /*estilos de video tablet index*/
  .video {
    padding: 1rem;
    grid-area: video; }
  /*estilos de pie del video tablet index*/
  .pie-del-video {
    text-align: center;
    color: black;
    padding: 1rem;
    justify-items: center;
    align-content: center;
    grid-area: pie-del-video; }
  /*estilo de footer tablet*/
  footer {
    padding: 0.5rem;
    /*estilos de derechos reservados tablet*/ }
    footer .derechos-reservados {
      display: inline;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      padding-bottom: 75px; } }

/*media query desktop*/
@media screen and (min-width: 900px) {
  /*estilos de mian desktop*/
  .main-home {
    background-color: #dcc2f7;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.30fr 0.10fr;
    grid-template-areas: "titulo-vid titulo-vid" "video pie-del-video"; }
    .main-home .pie-del-video {
      width: 65%; }
  /*estilos de footer desktop*/
  footer {
    /*estilos de boton de wsp desktop*/ }
    footer .boton-wp {
      display: flex;
      justify-content: center;
      background-color: #dcc2f7;
      position: fixed;
      bottom: 40px;
      right: 10px;
      height: 10%;
      width: 5%; } }

/* estilos de main aboust-us*/
.main-about-us {
  background-color: #dcc2f7;
  height: 530px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 1fr;
  grid-template-areas: "titulo" "parrafo";
  /*estilos de titulo about-us*/
  /*estilos de parrafo about-us*/ }
  .main-about-us .tit-about-us {
    background-color: #b990ef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    grid-area: titulo; }
  .main-about-us .parrafo {
    display: flex;
    justify-items: center;
    color: black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    grid-area: parrafo;
    font-weight: bold;
    font-size: 1.5rem; }

/*estilos de footer about-us*/
footer .derechos-reservados {
  display: none; }

/*media query tablet about-us*/
@media screen and (min-width: 768px) {
  .main-about-us {
    height: 515px; }
  /*estilos tablet del footer about-us*/
  footer .derechos-reservados {
    display: inline;
    display: flex;
    justify-content: center; } }

/*estilos de main servicios*/
.grid-syp {
  background-color: #dcc2f7;
  display: grid;
  height: 950px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 0.30fr 0.30fr 0.30fr .030;
  grid-template-areas: "titulo-syp" "servicios" "servicios-dos" "promociones" "promociones-dos";
  justify-content: center;
  justify-items: center;
  /*estilos de titulo servicios*/
  /*estilos de servicios 1*/
  /*estilos de servicios 2*/
  /*estilos de promociones 1*/
  /*estilos de promociones 2*/ }
  .grid-syp .titulo-syp {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    grid-area: titulo-syp; }
  .grid-syp .servicio {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 75%;
    grid-area: servicios;
    border: 1px solid black; }
    .grid-syp .servicio li {
      margin: 1px;
      border: 1px solid black; }
  .grid-syp .servicio-dos {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 75%;
    grid-area: servicios-dos;
    border: 1px solid black; }
    .grid-syp .servicio-dos li {
      margin: 1px;
      border: 1px solid black; }
  .grid-syp .promociones {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 75%;
    grid-area: promociones;
    border: 1px solid black; }
    .grid-syp .promociones li {
      margin: 1px;
      border: 1px solid black; }
  .grid-syp .promociones-dos {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    width: 75%;
    grid-area: promociones-dos;
    border: 1px solid black; }
    .grid-syp .promociones-dos li {
      margin: 1px;
      border: 1px solid black; }

/*media query desktop de servicios*/
@media screen and (min-width: 992px) {
  /*estilos de main desktop servicios*/
  .grid-syp {
    display: grid;
    height: 525px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.20 0.30 0.30;
    grid-template-areas: "titulo-syp titulo-syp" "servicios servicios-dos" "promociones promociones-dos";
    justify-content: flex-start;
    justify-items: center; }
  /*estilos de footer desktop servicios*/
  .derechos-reservados {
    display: inline;
    padding: 20px;
    display: flex;
    justify-content: center; } }

/*estilos de main de contacto*/
.main-contacto {
  background-color: #dcc2f7;
  padding: 1rem;
  height: 530px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 0.30fr;
  grid-template-areas: "titulo-formulario" "formulario";
  /*estilos del titulo de formulario contacto*/
  /*estilos del formulario contacto*/ }
  .main-contacto .titulo-formulario {
    background-color: #b990ef;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: titulo-formulario; }
  .main-contacto .formulario {
    margin: 1rem;
    padding: 1rem;
    grid-area: formulario;
    text-align: center; }

/*media query tablet de contacto*/
@media screen and (min-width: 768px) {
  /*estilos de derechos reservados tablet de contacto*/
  .derechos-reservados {
    display: inline;
    display: flex;
    justify-content: center; } }

.main-cat {
  background-color: #dcc2f7;
  height: 530px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 0.20fr 0.30fr;
  grid-template-areas: "titulo-cat" "carrusel"; }
  .main-cat .titulo-cat {
    margin: 1rem;
    padding: 1rem;
    background-color: #b990ef;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: titulo-cat; }
  .main-cat .carrusel {
    margin: 1rem;
    padding: 1rem;
    width: 75%;
    grid-area: carrusel; }
