.main-about-us{
    background-color: $color-base;
    height: 530px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.20fr 1fr;
    grid-template-areas: 
    "titulo"
    "parrafo";
    
    .tit-about-us{
        background-color: $color-sombreado;
        display: flex;
        align-items: center;
        justify-content: center;
        @include m-p(1rem, 1rem); 
        grid-area: titulo;
    }
    .parrafo{
        
        display: flex;
        justify-items: center;
        color: $color-textos;
        @include m-p(1rem, 1rem); 
        text-align: center;
        grid-area: parrafo;
        font-weight: bold;
        font-size: 1.5rem;
    }

}

footer{
    .derechos-reservados{
        display: none;
    }   
}


@media screen and (min-width:768px){
    .main-about-us{
        height: 515px;
    }
    
    footer{
        .derechos-reservados{
            display: inline;
            display: flex;
            justify-content: center;
            viewport-fit: 100%;
        } 
    }
    
}

