/*estilos de main de contacto*/
.main-contacto{
    background-color: $color-base;
    padding: 1rem;
    height: 530px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.20fr 0.30fr;
    grid-template-areas: 
        "titulo-formulario"
        "formulario";
/*estilos del titulo de formulario contacto*/    
        .titulo-formulario{
        background-color: $color-sombreado;
        @include m-p(1rem, 1rem); 
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: titulo-formulario;
    }
/*estilos del formulario contacto*/    
    .formulario{
        @include m-p(1rem, 1rem); 
        grid-area: formulario;
        text-align: center;
    }
    
}
/*media query tablet de contacto*/
@media screen and (min-width:768px) {
/*estilos de derechos reservados tablet de contacto*/    
    .derechos-reservados{
        display: inline;
        display: flex;
        justify-content: center;
        
    }
}