header{
    background-color: $color-base;
    .logo{
        display: none;
    }
    .menus{
        display: none;
    }
    .menu-hamburguesa{
        .desplegable-header{
            background-color: $color-sombreado;
        }
        .desplegable-body{
            background-color: $color-base;
        }
    }
}
    


.logo{
    color: $color-textos;
}

.main-home{
    background-color: $color-base;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.20fr 0.30fr 0.30fr;
    grid-template-areas: 
        "titulo-vid"
        "video"
        "pie-del-video";
    justify-content: center;
    justify-items: center;
    
    
    .titulo-vid{
        @extend %estilosTextos;
        @include m-p(1rem, 1rem); 
        justify-content: center;
        align-items: center;
        grid-area: titulo-vid;
    }
    .video{
        @include m-p(0.5rem, 1rem); 
        grid-area: video;
    }
    .pie-del-video{
        @extend %estilosTextos;
        @include m-p(0.5rem, 1rem); 
        grid-area: pie-del-video;
    }
}

footer{
    background-color: $color-base;
    
    span{
        display: none;
    }
    div{
        display: none;
    }
}

@media screen and (min-width:768px) {
    .header{
        background-color: $color-base;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav{
            @include m-p(1rem, 1rem); 
            ul{
                list-style: none;
                display: flex;
                gap: 1rem;
                li:hover{
                    font-weight: bold;
                    transform: scale(0.9);
                    box-shadow: 1px 1px 2px $color-textos;
                    color: $color-textos;
                    background-color: $color-sombreado;
                }
                li{
                    a{
                        color: $color-textos;
                    }
                }
            }
        }
        .menus{
            display: block;
        }
        .logo{
            display: block;
        }
    } 
       
    .menu-hamburguesa{
        display: none;
    }
    
    
    .main-home{
        background-color: $color-base;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.20fr 0.30fr;
        grid-template-areas: 
            "titulo-vid titulo-vid"
            "video pie-del-video";
    }
    
    .video{
        padding: 1rem;
        grid-area: video;
    }
    .pie-del-video{
        text-align: center;
        color: $color-textos;
        padding: 1rem;
        justify-items: center;
        align-content: center;
        grid-area: pie-del-video;
    }
    footer{
        padding: 0.5rem;
        .derechos-reservados{
                display: inline;
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                padding-bottom:75px;
                
        }
    }
}


@media screen and (min-width:900px){
    .main-home{
        background-color: $color-base;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.30fr 0.10fr;
        grid-template-areas: 
            "titulo-vid titulo-vid"
            "video pie-del-video";
            .pie-del-video{
                width: 65%;

            }
    }

    footer{
        .boton-wp{
            display: flex;
            justify-content: center;
            background-color: $color-base;
            position: fixed;
            bottom: 40px;
            right: 10px;
            height: 10%;
            width: 5%;
        }    
    }
}