.grid-syp{
    background-color: $color-base;
    display: grid;
    height: 725px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.20fr 0.30fr 0.30fr 0.30fr .030;
    grid-template-areas: 
        "titulo-syp"
        "servicios"
        "servicios-dos"
        "promociones"
        "promociones-dos";
    justify-content: center;
    justify-items: center;
    .titulo-syp{
        background-color: #b990ef;
        @include m-p(1rem, 1rem); 
        grid-area: titulo-syp;
    }
    .servicio{
        background-color: $color-sombreado;
        @include m-p(1rem, 1rem); 
        list-style: none;
        width: 75%;
        grid-area: servicios;
    }
    .servicio-dos{
        background-color: $color-sombreado;
        @include m-p(1rem, 1rem); 
        list-style: none;
        width: 75%;
        grid-area: servicios-dos;
    }
    .promociones{
        background-color: $color-sombreado;
        @include m-p(1rem, 1rem); 
        list-style: none;
        width: 75%;
        grid-area: promociones;
    } 
    .promociones-dos{
        background-color: $color-sombreado;
        @include m-p(1rem, 1rem); 
        list-style: none;
        width: 75%;
        grid-area: promociones-dos;
    }   


}
@media screen and (min-width:992px){

    .grid-syp{
        display: grid;
        height: 525px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.20 0.30 0.30;
        grid-template-areas: 
            "titulo-syp titulo-syp"
            "servicios servicios-dos"
            "promociones promociones-dos";
        justify-content: flex-start;
        justify-items: center;
        }
        
    .derechos-reservados{
        display: inline;
        display: flex;
        justify-content: center;
        viewport-fit: 100%;
    }
}